a {
  text-decoration: none;
}

img {
  filter: grayscale(100%);
}

.navBar {
  margin-bottom: 20px;
  margin-top: 10px;
  border-bottom: solid 2px black;
  padding-bottom: 20px;
}

.navBar a {
  font-size: 1.2em;
}