a {
  text-decoration: none;
  color: rgb(0, 102, 255);
}

img {
  filter: grayscale(100%);
}

.navBar {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navBar img {
  width: 25px;
}

.navBar img:hover {
  transform: scale(2);
  filter: grayscale(0%);
}

.navBar a {
  font-size: 1.2em;
}

.display {
  display: flex;
  gap: 20px;
  align-items: center;
}

.App.dark {
  background-color: #212529;
  color: rgb(211, 210, 210);
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.4em;
}

.App.dark a {
  color: #f68d25;
}

.App.dark .navBar {
  border-bottom: solid 1.5px rgb(168, 166, 166);
}

.App.dark .footer {
  background-color: #212529;
  color: rgb(168, 166, 166);
}

.App.dark .card {
  background-color: #212529;
  color: white;
  border-color: rgb(168, 166, 166);
  border-radius: 0%;
  border-width: 0.5px;
}

.App.light {
  background-color: #f8f9fa;
  color: #212529;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  line-height: 1.3em;
}

.App.light .navBar {
  border-bottom: solid 2px rgb(168, 166, 166);
}

.App Button {
  background-color: #8a97a3;
  color: white;
  border: none;
}

.App.light .card {
  background-color: #f8f9fa;
  color: #212529;
  border-color: rgb(168, 166, 166);
  border-radius: 0%;
  border-width: 1px;
}

.small {
  font-size: 0.8em;
  color: #79828c;
}

.battleName {
  font-size: 2em;
  line-height: 1.1em;
  padding-bottom: 0.6em;
}

.card:hover {
  transform: scale(1.015);
}